<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <button onclick="sendClick()">Add click</button>
  <button onclick="getClicks()">Get clicks</button>
  <button onclick="delClick()">Delete click</button>
    <script type="text/javascript">
        function getClicks(){
            var req = new XMLHttpRequest();
            req.open('GET', '/api/v1/clicks', false);
            req.send(null);
            console.log(req.status, req.statusText);
            console.log(req.responseText);
        }

        function sendClick(){
            var req = new XMLHttpRequest();
            req.open('POST','/api/v1/clicks', false);
            req.send(null);
            console.log(req.status, req.statusText);
        }

        function delClick(){
            var req = new XMLHttpRequest();
            req.open('DELETE','/api/v1/clicks', false);
            req.send(null);
            console.log(req.status, req.statusText);
        }


    </script>
</body>
</html>