<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <form id="users" method="post" action="http://localhost:5002/api/users" onsubmit="sendRequest()">
        <input id="text_input" placeholder="Enter your name" value="test">
        <input type="submit">
    </form>
    <script type="text/javascript">
        function sendRequest(){
            var xhr = new XMLHttpRequest();
            var param = prompt("Enter parameter:");
            var value = prompt("Enter value: ");
            xhr.open('GET', 'http://localhost:5002/api/users?'+param+'='+value, true);
            xhr.send();
        }
    </script>
</body>
</html>